// Colors
$textColors: ("primary": #fff, "secondary": #000, "tertiary": #f3e305, "links": #FFF6B3);
$backgroundColors: ("primary": #3F84B8, "secondary": #6A80B9, "buttons": #F5A752, "decoration": #F6C794);
$emotions: ("joyfull": #FFDB12, "happy": #FCFC6E, "neutral": #F8BE67, "sad": #FF9C31, "angry": #D75F59);