// Colors
$textColors: (
  "primary": #fff,
  "secondary": #000,
  "tertiary": #f3e305,
  "links": #fff6b3,
);
$backgroundColors: (
  "primary": #3f84b8,
  "secondary": #6a80b9,
  "buttons": #f5a752,
  "decoration": #f6c794,
  "tracker": #d5baea,
  "checkbox": #5d199a,
);
$emotions: (
  "joyful": #ffdb12,
  "happy": #fcfc6e,
  "neutral": #f9b857,
  "sad": #ff9c31,
  "angry": #d75f59,
);
