.loginpage {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &--image {
            width: 50%;
            height: 50%;
            object-fit: cover;
            margin-top: 20px;
        }

        
    }

    .wave {
        position: absolute;
        width: 100%;
        height: 35%;
        left: 0;
        --mask:
            radial-gradient(180.28px at 50% calc(100% - 250px), #000 99%, #0000 101%) calc(50% - 200px) 0/400px 100%,
            radial-gradient(180.28px at 50% calc(100% + 150px), #0000 99%, #000 101%) 50% calc(100% - 100px)/400px 100% repeat-x;
        -webkit-mask: var(--mask);
        mask: var(--mask);
    }

    &__principalwave {
        background-color: map-get($backgroundColors, "secondary");
        top: 0;
        z-index: 1;
    }

    &__secondarywave {
        background-color: map-get($backgroundColors, "decoration");
        top: 15%;
    }
}