.mainpage {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  &__profile {
    font-size: 5.5rem;
    padding: 10px;
  }

  &__container {
    @include flex(column);

    &--image {
      width: 50%;
      height: 50%;
      object-fit: cover;
      margin-top: 20px;
    }
  }

  &__content {
    position: absolute;
    z-index: 2;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include flex(column);
    width: 100%;
    height: auto;

    &--slider {
      -webkit-appearance: none;
      margin-bottom: 50px;
    }

    &--slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #000;
      cursor: pointer;
    }

    // Slider colors
    .slider-joyful {
      background: map-get($emotions, "joyful");
    }

    .slider-happy {
      background: map-get($emotions, "happy");
    }

    .slider-neutral {
      background: map-get($emotions, "neutral");
    }

    .slider-sad {
      background: map-get($emotions, "sad");
    }

    .slider-angry {
      background: map-get($emotions, "angry");
    }
  }

  .wave {
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0;
    --mask: radial-gradient(176.14px at 50% 245px, #000 99%, #0000 101%)
        calc(50% - 200px) 0/400px 100%,
      radial-gradient(176.14px at 50% -145px, #0000 99%, #000 101%) 50% 100px/400px
        100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
  }

  &__principalwave {
    background-color: map-get($backgroundColors, "secondary");
    bottom: 0;
    z-index: 1;
  }

  &__secondarywave {
    background-color: map-get($backgroundColors, "decoration");
    bottom: 15%;
  }

  .register-button {
    width: 90%;
    padding: 10px;
    background: rgba(245, 167, 82, 1);
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    margin-top: 10%;
    transition: background 0.3s ease;

    &:hover {
      background: rgba(245, 167, 82, 0.8);
    }
  }

  .modal {
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    margin: auto;
    text-align: center;
  }
  
  .overlay {
    background: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
